body {
    background-color: darkblue;
    background-image: url(https://media.istockphoto.com/id/2177827562/video/blue-background-with-texture-lines-looping-dark-background.jpg?s=640x640&k=20&c=6izax1jlRFu5m9HC9t7gTcOx5DrP0hovrnyfpDCrJbo=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        position: sticky;
        top: 0px;
    }
    
.hdr {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        margin-top: 53px;
        width: 100px;
        margin-left: 50px;
    }
    
    .logo:hover {
        width: 97px;
        transition: all 0.2s linear
    }
    
    .menu {
        width: 35px;
        margin-right: 50px;
        margin-top: 53px;
    }
    
    .menu:hover {
        width: 32px;
        transition: all 0.2s linear
    }

    .h {
        font-size: 33px;
        color: aliceblue;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 85px;
    }
    
    .h:hover {
    font-size: 31px;
    transition: all 0.2s linear;
    color: rgb(157, 209, 255);;
    }

    .dc {
        border: 1px solid white;
        width: 1275px;
        margin: 0 auto;
        flex-flow: wrap;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .intro {
        text-align: center;
        color: aliceblue;
        font-size: 21px;
        padding-bottom: 25px;
    }

    h5 a{
        color: aliceblue;
    }

    h5 a:hover{
        color: aliceblue;
       color: rgb(157, 209, 255);
       font-size: 21px;
       transition: all 0.2s linear;
    }


    h5 {
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            letter-spacing: 10px;
            font-weight: 700;
            color: aliceblue;
            font-size: 23px;
        flex-flow: wrap;
    }

    h4 {
        color: aliceblue;
        font-weight: 600;
        padding-top: 23px;
        padding-bottom: 20px;
        font-size: 25px;
    }

    li {
        color: aliceblue;
        font-size: 20px;
        padding-left: 35px;
    }

    li strong {
        color: rgb(157, 209, 255) !important;
        font-size: 21px !important;
    }

    ul {
        line-height: 30px;
    }

    .groups{
        padding-left: 100px;
    }

    .ending {
            display: flex ;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .ending p {
            color: rgb(168, 164, 164);
            font-size: 20px;
            padding-bottom: 10px;
        }

        .jk img {
            padding-top: 23px;
        }
    