/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 100 version
*/

body {
    background-color: darkblue;
    background-image: url(https://media.istockphoto.com/id/2177827562/video/blue-background-with-texture-lines-looping-dark-background.jpg?s=640x640&k=20&c=6izax1jlRFu5m9HC9t7gTcOx5DrP0hovrnyfpDCrJbo=);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
}

header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background-color: #030518;
    }
    
.hdr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .logo {
        margin-top: 53px;
        width: 100px;
        margin-left: 50px;
    }
    
    .logo:hover {
        width: 97px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear
    }
    
    .menu {
        width: 35px;
        margin-right: 50px;
        margin-top: 53px;
    }
    
    .menu:hover {
        width: 32px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear
    }

    .h {
        font-size: 33px;
        color: aliceblue;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 85px;
        letter-spacing: 8px;
        font-family: "Bebas Neue", sans-serif;
    }
    
    .h:hover {
    font-size: 31px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: rgb(157, 209, 255);;
    }

    .dc {
        border: 1px solid rgb(65, 104, 147);
        width: 1275px;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 15px;
        letter-spacing: 0.5px;
        box-shadow: -1px -1px 53px 10px rgba(60,103,186,0.75);
-webkit-box-shadow: -1px -1px 53px 10px rgba(60,103,186,0.75);
-moz-box-shadow: -1px -1px 53px 10px rgba(60,103,186,0.75);
margin-bottom: 40px;
    }

    .intro {
        text-align: center;
        color: aliceblue;
        font-size: 21px;
        padding-bottom: 25px;
        font-family: "Delius Swash Caps", cursive;
    }

    h5 a{
        color: aliceblue;
        font-family: "Griffy", system-ui;
    }

    h5 a:hover{
        color: aliceblue;
       color: rgb(157, 209, 255);
       font-size: 21px;
       -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
       transition: all 0.2s linear;
    }


    h5 {
        
            display: -webkit-box;
        
            display: -webkit-flex;
        
            display: -moz-box;
        
            display: -ms-flexbox;
        
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
               -moz-box-orient: horizontal;
               -moz-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            letter-spacing: 10px;
            font-weight: 700;
            color: aliceblue;
            font-size: 23px;
        -webkit-flex-flow: wrap;
            -ms-flex-flow: wrap;
                flex-flow: wrap;
    }

    h4 {
        color: aliceblue;
        font-weight: 600;
        padding-top: 23px;
        padding-bottom: 20px;
        font-size: 25px;
        font-family: "Lugrasimo", cursive;
    }

    li {
        color: aliceblue;
        font-size: 20px;
        padding-left: 35px;
        font-family: "Delius Swash Caps", cursive;
    }

    li strong {
        color: rgb(157, 209, 255) !important;
        font-size: 21px !important;
    }

    ul {
        line-height: 30px;
    }

    .groups{
        padding-left: 100px;
    }

    .ending {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
           -moz-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        width: 1240px;
        }

        .ending p {
            color: rgb(168, 164, 164);
            font-size: 20px;
            padding-bottom: 10px;
        }

        .jk img {
            padding-top: 23px;
            width: 420px;
        }

        .hj img {
            padding-top: 23px;
            width: 420px;
        }

        .jk img:hover {
            padding-top: 23px;
            width: 425px;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
            cursor: pointer;
        }

        .hj img:hover{
            padding-top: 23px;
            width: 425px;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
            cursor: pointer;
        }

        .pt {
            width: 100%;
            padding: 10px;
        }

        .signin {
            text-decoration: underline !important;
            color: rgb(89, 176, 252);
        }
    
        .last {
            text-align: center;
            color: aliceblue;
            font-size: 20px;
            font-family: "Delius Swash Caps", cursive;
        }
