/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 100 version
*/

body {
    background-image: url(https://media.istockphoto.com/id/1184939316/photo/trendy-low-poly-triangles-with-navy-bg.jpg?s=612x612&w=0&k=20&c=T6rKRdht4hK33jgeQxdBxVQ8rcv1Sy3SrVkhl9k0EQc=);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    height: 100vh;
}

.sign-in{
    width: 360px;
    margin: 0 auto;
    height: 500px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    box-shadow: -1px 0px 32px 15px rgba(33,52,94,0.75);
-webkit-box-shadow: -1px 0px 32px 15px rgba(33,52,94,0.75);
-moz-box-shadow: -1px 0px 32px 15px rgba(33,52,94,0.75);
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex
;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }
    
.hdr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .logo {
        margin-top: 53px;
        width: 100px;
        margin-left: 50px;
    }
    
    .logo:hover {
        width: 97px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear
    }

    .menu {
        width: 125px;
        margin-right: 50px;
        margin-top: 53px;
    }
    
    .menu:hover {
        width: 122px;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear
    }

    .reg [type="text"] {
        width: 340px;
        height: 59px;
        border: 2px solid #1e417c;
        font-weight: 700;
        font-size: 14px;
        color: #9eb6f7;
        padding-left: 19px;
        background-color: #0b2755;
    }
    
    input[type="submit"] {
        width: 340px;
        height: 59px;
        background-color: #091588;
        color: white;
        border: none;
        cursor: pointer;
      }
    
    input[type="submit"]:hover {
        width: 340px;
        height: 59px;
        background-color: #04521e;
        color: rgb(205, 202, 195);
        border: none;
        cursor: pointer;
      }